@charset "UTF-8";

/* ----tag style reset--------------------------------- */
* {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    /* -webkit-box-sizing: border-box; */
    /* box-sizing: border-box; */
    /* line-height: inherit; */
}
-------------------------------------------------------						

/* --------------헤더--------------- */

/* --------------메인--------------- */
.main{
	grid-area: main;
}


.r-list-nested{
	/* display: grid; */
}

/* -----list-title----- */
.r-list-title{
	display: flex;
		justify-content: center;
		align-items: center;	
	border-top: 3px solid darkolivegreen;
	height: 150px;
	background: #00000033;

}
	.r-list-title > h1{
		font-size: 24px;
		font-weight: bold;
	}

/* -----list-filter----- */
.r-list-filter{
	display: flex;
		justify-content: center;
		align-items: center;
	border-bottom: 1px solid #ccc;
	padding: 30px 0px 10px 0px;
	
}
	.rlf-wrap{
		display: flex;
			justify-content: flex-start;
			align-items: center;
		width: 60%;
	}
		.rlf-wrap > li{
			margin: 0px 10px;
			font-size: 15px;
		}
		
/* -----list-content----- */
.r-list-content{
	display: flex;
		justify-content: center;
	padding: 30px 0;
}

.rlc-wrap{
	
	/* margin:auto; */
	width: 60%;
}

.rlc-grid{
	display: grid;
		grid-template-columns: 1fr;
		/* repeat(auto-fill, minmax(200px,auto)); */

		grid-auto-row: 238px;
		/* grid-column-gap: 1em; */
		grid-row-gap: 1em;
	justify-items: center;
	align-items: center;
	
}

	.rlc-grid li{
		display: flex;
			flex-direction: column;
		border-bottom: 1px solid #ccc;
		padding-bottom: 20px;
	}
	
		.r-rating-name-date {
			display: flex;
				justify-content: space-between;
			/* border: 1px solid blue; */
		}
		.ui-date{
			color: #999;
			font-size: 12px;
		}

		.r-img-text{
			display: flex;
			margin-top: 10px;
			/* border: 1px solid red; */
		}

.img-wrap{
	flex: auto;
	/* min-width: 100px; */
	/* border: 1px solid green; */
	margin-right: 10px;
}

	.img-wrap a,
	.img-wrap img{
		/* width: 238px;
		height: 238px; */
		max-width: 100%;
		max-height: 100%;
	}

.txt-wrap{
	flex: 1;
	padding: 0 15px;
}

	.text-concat {
	           /* position: relative; */
	           /* display: inline-block; */
	           display: -webkit-box;
	           word-wrap: break-word;
	           overflow: hidden;
	           /* max-height: 6.5em; */ /* (Number of lines you want visible) * (line-height) */
	           line-height: 1.3em;
	           text-align: justify;
	           font-size: 16px;
	           -webkit-line-clamp: 5;
	           -webkit-box-orient: vertical;
	           text-overflow: ellipsis;
	         }
	         
	         /* .text.ellipsis::after {
	           content: "...";
	           position: absolute;
	           right: -12px; 
	           bottom: 4px;
	         } */

/* --------------풋터--------------- */


/* --------------데스크탑--------------- */
@media screen and (min-width: 901px){
	/* .grid{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: repeat(5, 1fr);
		grid-auto-rows: minmax(40px, auto);
		grid-column-gap: 2em;
		grid-row-gap: 2em;

		
		grid-template-areas:
		"header header header header"
		". main main ."
		"footer footer footer footer";
	} */
	
	.img-wrap{
		flex: 1;
		/* width: 250px;
		height: 250px; */
		/* border: 1px solid green; */
		margin-right: 10px;
	}
	
	.txt-wrap{
		flex: 5;
	}
	
	.text-concat {
	     
	         }		
	
}	


	
/* -------------------태블릿------------------ */	
/* -------------------태블릿------------------ */
@media screen and (max-width: 900px) and (min-width: 414px){
	
	
/* -------태블릿 header------- */	

/* -------태블릿 main------- */
	
	.rlf-wrap > li{
			font-size: 14px;
		}
	
	
	.img-wrap{
		flex: 1;
		/* width: 250px;
		height: 250px; */
		/* border: 1px solid green; */
		margin-right: 10px;
	}
	
	.txt-wrap{
		flex: 4;
		padding: 0 10px;
	}
	
	.text-concat {
		font-size: 14px;
		-webkit-line-clamp: 4;
	         }		
	
/* -------태블릿 footer------- */		

}


/* -------------------모바일------------------ */	
/* -------------------모바일------------------ */	
/* -------------------모바일------------------ */			
@media screen and (max-width: 414px){
	
/* -------모바일 header------- */

/* -------모바일 aside------- */

/* -------모바일 main------- */	
	.r-list-title{
		height: 70px;
		
	}
		.r-list-title > h1{
			font-size: 18px;
		}
	
	
	.rlf-wrap{
		display: flex;
			justify-content: space-between;
			align-items: center;
		width: 90%;
	}
		.rlf-wrap > li{
			margin: 0px 10px;
			font-size: 14px;
		}
	
	.r-list-filter{
	display: flex;
		justify-content: center;
		align-items: center;
	border-bottom: 1px solid #ccc;
	padding: 30px 0px 10px 0px;
	
	}
	
	
	.rlc-wrap{
		width: 90%;
	}
	
	.rlc-grid li{
		padding-bottom: 15px;
	}
	
	
	.img-wrap{
		flex: 1;
		/* width: 250px;
		height: 250px; */
		/* border: 1px solid green; */
		margin-right: 10px;
	}
	
	.txt-wrap{
		flex: 3;
		padding: 0;
	}
	
	.text-concat {
	           display: -webkit-box;
	           word-wrap: break-word;
	           overflow: hidden;
	           /* max-height: 5.2em; */ /* (Number of lines you want visible) * (line-height) */
	           line-height: 1.3em;
	           text-align:justify;
	           font-size: 14px;
	           -webkit-line-clamp: 4;
	           -webkit-box-orient: vertical;
	           text-overflow: ellipsis;
	         }		

/* -------모바일 footer------- */	

}	






