@charset "UTF-8";

/* ----tag style reset--------------------------------- */

html{
	height: 100%;
}

body{	
/* 	background: gold;
	border: 1px solid blue; */
	margin: 0px;
	height: 100%;
}

h1,h2,h3,h4,h5,h6{
	margin: 0px;
}

ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

a{
	text-decoration: none;
}
p{
	margin: 0;
}
-------------------------------------------------------						

.grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 1em;
	grid-row-gap: 1em;

	grid-template-areas:
	"header header"
	"main main"
	"footer footer";
}
					
.grid > div{
	/* background: #eee; */
}
.grid > div:nth-child(even){
	/* background: #ddd; */
}



/* --------------헤더--------------- */

.header{
	grid-area: header;
}

.h-nested{
	/* display: grid; */

}
.h-nested > div{
	/* border: #333 1px solid; */
}

/* -----top-bar----- */
.top-bar{
	display: flex;
		justify-content: center;
		align-items: center;
	background: olivedrab;
	height:40px;
}
.tb-wrap{
	display: flex;
		justify-content: space-between;
		align-items: center;
	width: 60%;
}
	.tb-left{
		display: flex;
			align-items: center;
		height: 40px;
	}
		.tb-left > a{
			display: flex;
				justify-content: center;
				align-items: center;
			height: 40px;
			width: 40px;
			margin: 0px;
		}
		.tb-left img{
			width: 40px;
			height: 40px;
		}
			
	.tb-right{
		display: flex;
			justify-content: space-between;
			align-items: center;
		height: 40px;
		color: white;
	}
		.tb-right > li{
			margin: 0px 20px;
		}


/* -----logo-bar----- */
.logo-bar{
	display: flex;
		justify-content: center;
		align-items: center;
	height: 90px;
}
	.logo-bar > a{
		/* margin-top: 10px; */
		height: 25px;
	}
	.logo-bar img{
		max-width: 100%;
		max-height: 100%;
	}


/* -----nav-bar----- */
.nav-bar{
	display: flex;
		justify-content: center;
		align-items: center;
	height: 45px;
	color: gray;
	font-weight: bold;
	font-size:19px;
	font-family: "Times New Roman", Times, serif;
}
.nav-wrap{
	display: flex;
		justify-content: space-between;
		align-items: center;
	height: 50px;
	
}
	.nav-wrap li{
		padding: 0px 30px;
	}
	
#ham-btn{
	display: none;
}


.aside{
	display: none;
}
/* --------------메인--------------- */

/* --------------풋터--------------- */
.footer{
	grid-area: footer;
	margin-top: 20px;
	background: #464648;
	
}
.f-nested{
	display: grid;
	justify-content: center;
	
	
}
.f-text{
	display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
}
	.f-text div{
		padding: 30px;
		margin: 0;
		font-size: 13px;
		color: #808080;
		font-weight: 600;
		line-height: 1.8;
		word-break: keep-all;
	}

#info-logo{
	grid-area: info-logo;
	display: flex;
		justify-content: flex-end;
		align-items: center;
	padding-right: 0px;
}

	#info-logo > a{
		height: 100px;
	}
	
	#info-logo img{
		max-width: 100%;
		max-height: 100%;
	}
	
#info-1{
	grid-area: info-1;
	padding-right: 0px;
	word-break: keep-all;
	/* white-space: nowrap; */
}
#info-2{
	grid-area: info-2;
	padding-right: 0px;
	word-break: keep-all;
	/* white-space: nowrap; */
}
	.company{
		text-decoration: none;
		border-bottom: 1px solid #808080;
	}
	.company a{
		color: #808080;
	}


#info-3{
	grid-area: info-3;
	/* word-break: keep-all; */
}
	.sns-list{
		display: flex;
	}
	.sns-icon{
		width: 40px;
		padding: 5px;
	}
	.sns-icon img{
		max-width: 100%;
		border-radius: 10px;
	}


#btTEXT1{
	display: flex;
		justify-content: center;
	padding-top: 15px;
	/* text-align: center; */
	max-width: 1400px;
	color: #8d8d8e;
	border-top: 1px solid #59595b;
	line-height: 1.5;
	font-size: 17px;
	font-weight: 600;
	letter-spacing: 0.3em;
	word-break: keep-all;
}
#btTEXT2{
	display: flex;
		justify-content: center;
	padding-bottom: 15px;
	max-width: 1400px;
	color: #8d8d8e;
	line-height: 1.5;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0.1em;
	word-break: keep-all;
}
/* --------------데스크탑--------------- */
@media screen and (min-width: 901px){
	.grid{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		/* grid-template-rows: repeat(5, 1fr); */
		grid-auto-rows: minmax(40px, auto);
		/* grid-column-gap: 2em;
		grid-row-gap: 2em; */

		
		grid-template-areas:
		"header header header header"
		"main main main main"
		"footer footer footer footer";
	}
	
	.f-text{
	display: grid;
		grid-template-columns:
			repeat(4,minmax(min-content, max-content)); 
			
		
	grid-template-areas:
	"info-logo info-1 info-2 info-3";
	}
}	


	
/* -------------------태블릿------------------ */	
/* -------------------태블릿------------------ */
@media screen and (max-width: 900px) and (min-width: 414px){
	/* .grid{
		display: grid;
		grid-template-columns: 1fr 2fr 1fr;
		grid-template-rows: repeat(5, 1fr);
		grid-auto-rows: minmax(40px, auto);
		grid-column-gap: 2em;
		grid-row-gap: 2em;
		
		grid-template-areas:
		"header header header"
		"main main main"
		"footer footer footer";
	} */
	
	
/* -------태블릿 header------- */	
	.tb-wrap{
		width: 80%;
	}
/* -------태블릿 main------- */

	
/* -------태블릿 footer------- */		
	.f-text{
	display: grid;
		grid-template-columns: repeat(2, 1fr);
		
	grid-template-areas:
	"info-1 info-2"
	"info-logo info-3";
	}
	
	#info-logo{
	grid-area: info-logo;
	display: flex;
		justify-content: center;
		align-items: center;
	padding-top: 0px;
	}
	
	#info-3{
		padding: 0 30px;
	}
	
}


/* -------------------모바일------------------ */	
/* -------------------모바일------------------ */	
/* -------------------모바일------------------ */			
@media screen and (max-width: 414px){
	
	
	/* .grid{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(5, 1fr);
		grid-auto-rows: minmax(40px, auto);
		grid-column-gap: 2em;
		grid-row-gap: 2em;
		
		grid-template-areas:
		"header"
		"main"
		"footer";
	} */
	
/* -------모바일 header------- */

	.top-bar{
		height: 50px;
	}
		.tb-left a,
		.tb-left img{
			width: 50px;
			height: 50px;
		}
	.tb-wrap{
		display: flex;
			justify-content: space-between;
			align-items: center;
		width: 100%;
		
	}
			.tb-right li,
			.tb-right a{
				display: flex;
					justify-content: center;
					align-items: center;
				
				margin: 0px 10px;
			}
	
	.tb-right .tbr-web{
		display: none;
	}
	#ham-btn{
		display: block;
		z-index: 990;
		padding-top: 4px;
	}	
	
	.logo-bar{
		/* display: flex;
			justify-content: center;
			align-items: center; */
		/* position: absolute; */
		top: 40px;
		/* background: gold; */
		height: 50px;
		width: 100%;
		/* border-bottom: 1px solid #e9e9e9; */
		z-index: 60;
	}
	
		.logo-bar > a{
			padding-top: 10px;
			height: 18px;
		}
	
	.nav-bar{
		display: flex;
			justify-content: center;
			align-items: center;
		height: 40px;
		font-size: 16px;
	}
	
		.nav-wrap{
		display: flex;
			justify-content: space-between;
			align-items: center;
		height: 30px;
		
		}
			.nav-wrap li{
				padding: 0px 18px;
			}

/* -------모바일 aside------- */
	.aside{
		position: fixed;
		display: block;
		width: 80%;
		height: calc(100% - 46px);
		background: #fff;
		/* background: #00000077; */
		/* rgba  alpha 77는 투명도 
		 opacity는 글자도 투명하게함*/
		position: fixed;
		top: 50px;
		right: -80%;
		transition: 0.5s;
		transition-property: right;
	}

	.aside.show{
		right: 0;
		box-shadow: 3px 5px 10px 3px #797979;
	}
	
/* -------모바일 main------- */	

/* -------모바일 footer------- */	
	.f-text{
	display: grid;
		grid-template-columns: 1fr;
		
		grid-template-areas:
			"info-1"
			"info-2"
			"info-3";
	}
	#info-logo{
		display: none;
	}
	#info-1,
	#info-2{
		padding-bottom: 0px; 
	}
	#btTEXT2{
		font-size: 11px;
	}
}	






