<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harusketch.dao.ProductDao">
<!-- Dao객체가 어떤 객체에 매핑되어있는지 써주는것 -->

	<!-- <select id="getList" resultType="com.newlecture.entity.Note">
					resultType = 어느객체로 만들것인지 정하는것.
		select * from Note
		limit #{(_parameter-1)*15},15 0부터 15개. 15부터 15개 
	</select>   --> <!-- 이부분을 NoteDao에 직접 구현함 -->
	
	
	<select id="get">
		select * from Note where id= #{id}
		<!-- #{} : 현재넘겨지는 녀석의 자료형에 따라 표현이 달라져야할때
			 ${} : 값 자체로 표현할때 (ex페이지 요구할 때)-->
	</select>
	
	<insert id="insert" parameterType="com.harusketch.entity.Product"> <!-- entity.Note에 담아서 보내는것 -->
		insert into Note(title, content, writerId)
		values(#{title},#{content},#{writerId}) <!-- #{}이건  getter로 가져오는것 -->
 	</insert>



</mapper>